frx-challenges:
  image:
    repository: quay.io/2i2c/janelia-frx-challenges
    tag: 0.0.1-0.dev.git.584.he40508b
    pullPolicy: IfNotPresent
  pvc:
    storage: 15Gi # Increased from 10Gi to test PVC expansion
  evaluator:
    resources:
      requests:
        memory: 2Gi
        cpu: 0.5
      limits:
        memory: 4Gi
        cpu: 1
  dind:
    pvc:
      storage: 110Gi # Increased from default 100Gi to test expansion
    resources:
      requests:
        memory: 32Gi
        cpu: 6
      limits:
        memory: 32Gi
        cpu: 6
  ingress:
    hosts:
      - staging.cellmapchallenge.2i2c.cloud
    tls:
      - secretName: https-auto-tls
        hosts:
          - staging.cellmapchallenge.2i2c.cloud
  yamlSettings:
    overrides:
      ALLOWED_HOSTS:
        - staging.cellmapchallenge.2i2c.cloud
      CSRF_TRUSTED_ORIGINS:
        - https://staging.cellmapchallenge.2i2c.cloud
      DEBUG: False
      EVALUATOR_DOCKER_IMAGE: quay.io/2i2c/cellmap-segmentation-challenge-evaluator:d628a8626d4b
      EVALUATOR_DOCKER_CONTAINER_CPU_LIMIT: 6
      EVALUATOR_DOCKER_CONTAINER_MEMORY_LIMIT: 34359738368 # 32Gi
      SOCIALACCOUNT_PROVIDERS:
        github:
          APP:
            client_id: Ov23liNajAJLgDlanrUb
            redirect_uri: http://staging.cellmapchallenge.2i2c.cloud/accounts/github/login/callback
          VERIFIED_EMAIL: True
      CHALLENGE_STATE: "RUNNING"
